body {
    background-color: aliceblue;
}

h1 {
    margin: 4px;
}

.contain {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.part {
    margin: auto;
    margin-top: 10px;
    border: 1px solid;
    padding: 5px;
    background-color: rgb(145, 180, 210);
}

.b {
    display: block;
    margin: auto;
    margin-top: 3px;
}

.tab {
    border: 2px solid;
    margin: auto;
}

.bo {
    border: 1px solid;
    padding: 1px;
}

.flo {
    margin: auto;
    margin-top: 3px;
}

.for {
    margin: auto;
}

.submit {
    background-color: rgb(4, 213, 144);
}
